.navNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 20px;
}
.link {
  transform: scale(1);
  text-decoration: none;
  color: #2a363b;
  transition: color 250ms ease-out, transform 250ms ease-out;
  font-size: 24px;
  font-weight: 700;
}
.link:hover {
  color: rgb(29 189 135);
}
.isActive {
  color: rgb(29 189 135);
}
.name {
  margin-right: 50px;
  font-size: 36px;
  font-weight: 700;
  color: rgb(29 189 135);
  text-shadow: -12px 5px 16px rgb(135 167 119);
}
